<template>
  <div>
    Main Page
    <div>
      <div style="display: inline-block"><textarea rows="20" cols="100" v-model="source" ></textarea></div>
      <div style="display: inline-block"><textarea rows="20" cols="100" v-model="gCodesString"></textarea></div>
      <div style="color: red">{{errorMessage}}</div>
    </div>
    <button @click="compile">Compile</button>
    <three-d-view :parts="parts" :g-codes="codes"></three-d-view>
  </div>
</template>

<script>
  import ThreeDView from './three_d_view.vue';

  import Compiler from '../core/compiler';

  const compiler = new Compiler();

  export default {
    name: 'Main',
    data () {
      return {
        source: `defaultParams = {
  width: 40,
  height: 30
};
generator = (params) => {
  const part = pb.rect(params.width, params.height, 5)
      .moveToCenter()
      .contour()
      .rect(10, 10, 2)
      .moveToCenter()
      .pocket(4)
      .circle(3)
      .move(15, 10)
      .pocket()
      .build(10);
  const codes = part.contour.toGCodes();
  return {
    parts: [part],
    codes: codes
  };
};`,
        parts: [],
        codes: [],
        error: null
      };
    },
    components: {
      'three-d-view': ThreeDView
    },
    computed: {
      errorMessage () {
        return this.error ? this.error.message + ' ' + this.error.lineNumber : null;
      },
      gCodesString () {
        let str = '';
        for (const code of this.codes) {
          str += code.toString() + '\r\n';
        }
        return str;
      }
    },
    methods: {
      compile () {
        const result = compiler.compile(this.source);
        const params = result.defaultParams;
        const gCodeResult = result.generator(params);
        this.parts = gCodeResult.parts;
        this.codes = gCodeResult.codes;
        this.error = compiler.error;
        if (this.error) {
          console.error(this.error);
        }
      }
    }
  };
</script>
