<template>
    <div ref="container" class="border">
    </div>
</template>

<script>
  import * as THREE from 'three';
  import OrbitControls from '../core/orbit_controls';

  export default {
    name: 'tree-d-view',
    data () {
      return {
        controls: {},
        renderer: {},
        scene: {},
        camera: {},
        partMeshes: [],
        gCodesLine: null
      };
    },
    props: {
      width: {
        type: Number,
        default: 640
      },
      height: {
        type: Number,
        default: 480
      },
      parts: {
        type: Array,
        default: () => []
      },
      gCodes: {
        type: Array,
        default: () => []
      }
    },
    watch: {
      parts () {
        this.addMeshFromParts();
      },
      gCodes () {
        this.addMeshesFromGCodes();
      }
    },
    mounted () {
      this.init();
    },
    methods: {
      addMeshFromParts () {
        this.scene.remove(this.partMeshes);
        this.partMeshes = [];
        if (this.parts.length === 0) {
          return;
        }
        for (const part of this.parts) {
          const geometry = part.toGeometry();
          const material = new THREE.MeshPhongMaterial({color: 0x00ff00, wireframe: false});
          const partMesh = new THREE.Mesh(geometry, material);
          this.partMeshes.push(partMesh);
          this.scene.add(partMesh);
        }
      },
      addMeshesFromGCodes () {
        const material = new THREE.LineBasicMaterial({
          color: 0x0000ff
        });

        this.scene.remove(this.gCodesLine);
        const geometry = new THREE.Geometry();
        let point = new THREE.Vector3(0, 0, 0);
        for (const gCode of this.gCodes) {
          const points = gCode.getPoints(point);
          if (points.length > 0) {
            points.forEach(p => geometry.vertices.push(p));
            point = points[points.length - 1];
          }
        }
        this.gCodesLine = new THREE.Line(geometry, material);
        this.scene.add(this.gCodesLine);
      },
      init () {
        const container = this.$refs.container;
        window.onresize = this.onResize;

        this.scene = new THREE.Scene();

        this.camera = new THREE.PerspectiveCamera(75, this.width / this.height, 1, 10000);
        this.camera.up = new THREE.Vector3(0, 0, 1);

        this.controls = new OrbitControls(this.camera, container);

        const ambientLight = new THREE.AmbientLight(0x202020);
        this.scene.add(ambientLight);

        const light = new THREE.PointLight(0xffffff, 1, 0);
        light.position.set(100, 200, 100);
        this.scene.add(light);

        const axes = new THREE.AxisHelper(10);
        this.scene.add(axes);

        const helper = new THREE.GridHelper(200, 20);
        helper.material.opacity = 0.25;
        helper.material.transparent = true;
        helper.geometry.rotateX(Math.PI / 2);
        this.scene.add(helper);

        this.renderer = new THREE.WebGLRenderer();
        this.renderer.setPixelRatio(window.devicePixelRatio);
        this.renderer.setSize(this.width, this.height);
        this.renderer.setClearColor(0xffffff);

        container.appendChild(this.renderer.domElement);
        this.addMeshFromParts();

        this.renderScene();
      },
      renderScene () {
        requestAnimationFrame(this.renderScene); // eslint-disable-line no-undef
        this.renderer.render(this.scene, this.camera);
      },
      onResize () {
        this.camera.aspect = this.width / this.height;
        this.camera.updateProjectionMatrix();
        this.renderer.setSize(this.width, this.height);
      }
    }
  };
</script>

<style>
    .border {
        width: 640px;
        border: 1px solid black;
    }
</style>